.content {

}

.newPost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newPost textarea {
    height: 100px;
    width: 100%;
}

.newPost button {
    width: max-content;
}

.posts {

}